@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$title-police: Poppins, sans-serif;
$text-police: Roboto, sans-serif;

$main-background: rgb(250, 250, 250);

$main-color: #263f9b;