@import "../../../styles/variables.scss";

.container {
	width: 100%;
	margin-top: 70px;
	display: flex;
	gap: 25px;
	flex-direction: column;
	align-items: center;
	padding-top: 25px;
	.fields_container {
		display: flex;
		gap: 10%;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		// border: 1px solid red;
		padding: 15px;
		div {
			display: flex;
			flex-direction: column;
			gap: 20px;
			width: 40%;
		}
		:nth-child(1) {
			width: 35%;
		}
		:nth-child(2) {
			width: 40%;
		}
		textarea {
			min-height: 25vh;
			resize: none;
		}
		select,
		input {
			min-width: 50%;
		}
		.input_style {
			border: 2px solid rgba(0, 0, 0, 0.4);
			box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
			border-radius: 2px;
			padding: 5px;
			font-family: $text-police;
			transition: 0.2s ease;
		}
		.input_style:hover {
			border: 2px solid $main-color;
			transform: translateY(-1px);
			transition: 0.2s ease;
		}
		.input_style:active {
			outline: none;
		}
		.input_style:focus {
			order: 2px solid $main-color;
			outline: none;
		}
		.validation_button {
			border: 2px solid $main-color;
			border-radius: 3px;
			background: none;
			font-family: $text-police;
			padding: 10px 20px;
			cursor: pointer;
			font-size: 15px;
			width: max-content;
			align-self: center;
			transition: 0.2s ease;
		}
		.validation_button:hover {
			background: rgba(40, 127, 232, 0.2);
			transform: translateY(-2px);
			transition: 0.2s ease;
		}
		.file_drop_zone {
			min-height: 25vh;
			width: 100%;
			// outline: 1px solid green;
			border: 2px dashed $main-color;
			border-radius: 3px;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			input {
				opacity: 0;
				height: 100%;
				width: 100%;
				cursor: pointer;
				position: absolute;
			}
			p {
				font-size: 17px;
				margin: 0 15px;
				text-align: center;
			}
		}
		.file_drop_zone:hover {
			background: rgba(40, 127, 232, 0.2);
		}
		.file_list {
			width: 100%;
			// border: 1px solid green;
			display: flex;
			gap: 5px;
			div {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 10px;
			}
			.file_list_element {
				display: flex;
				flex-direction: row;
				width: 100%;
				border: 1px solid red;
				padding: 5px;
				border-radius: 2px;
				p {
					white-space: nowrap;
					width: 100%;
				}
				.delete_container {
					display: flex;
					align-items: center;
					justify-content: center;
					align-self: flex-end;
					aspect-ratio: 1;
					width: auto;
					height: 100%;
					img {
						width: 15px;
					}
				}
				.delete_container:hover {
					cursor: pointer;
					transform: scale(1.05);
				}
			}
		}
	}
}
