@import "../../../styles/variables.scss";

.domain__container {
	font-family: $text-police;
	// border: solid blue 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	.domain__content {
		max-width: 1300px;

		// border: solid red 1px;
		margin-top: 120px;
		height: auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		.domain__theme {
			// border: solid red 1px;
			width: 100%;
			text-align: left;
			padding-left: 20px;
			border-bottom: solid rgba($color: #000000, $alpha: 0.2) 1px;
			&__title {
				font-weight: bolder;
				font-size: 21px;
				color: rgba($color: #000000, $alpha: 0.85);
			}
			&__body {
				max-width: 60%;
				// border : solid black 1px ;
				padding: 10px;
				padding-left: 0;
				display: grid;
				grid-template-columns: repeat(6, 1fr);
				gap: 10px;
			}
			&__button {
				background-color: white;
				border: solid rgba($color: #000000, $alpha: 0.5) 1px;
				padding: 5px;
				border-radius: 30px;
				margin-right: 5px;
				margin-bottom: 10px;
				cursor: pointer;
				transition: 0.4s;
				&:hover {
					background-color: rgba($color: $main-color, $alpha: 0.2);
				}
			}
		}
		.domain__formation {
			max-width: 1300px;
			text-align: center;
			// border: solid black 1px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-column-gap: 15px;
			grid-row-gap: 20px;
			padding: 15px;
			gap: 25px;
			justify-content: center;
			align-items: center;
			@media (max-width: 1100px) {
				& {
					max-width: 100%;
				}
				.formation__container {
					width: 100%;
				}
			}
			@media (max-width: 1150px) {
				& {
					grid-template-columns: 1fr 1fr;
				}
				.formation__container {
					width: 350px;
				}
			}
			@media (max-width: 800px) {
				& {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
				// .formation__container {
				// 	width: 80%;
				// }
			}
		}
	}
}
