@import "../styles/variables.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}


body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
body::-webkit-scrollbar-track {
    background: $main-background;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: $main-color;    /* color of the scroll thumb */
    border-radius: 15px;     /* roundness of the scroll thumb */
}